.prompt {
	margin: 10px;
}

.slider {
	width: 275px;
	margin: 10px;
}

.stimulus {
	margin: 10px;
}

.catch_error {
	margin: 10px;
}

.trial_error {
	margin: 10px;
}

input[type="radio"] {
	margin: 0 5px 0 30px;
}
